<p id="notice"><%= notice %></p>

<h2>Your Crypto Dashboard</h2>
</br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Price</th>
      <th>Total Value</th>
      <th>Price Paid</th>
      <th>Amount owned</th>
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
      <%if crypto.user.id == current_user.id%>
     <tr>
      <%if crypto.symbol%>
        <%crypto.symbol = crypto.symbol.upcase%>
      <%end%>
        <% for x in @lookup_crypto %>
          <% if crypto.symbol == x["symbol"]%>
          <td><%= link_to x["name"], crypto %></td>
          <td>$<%= link_to x["price_usd"], crypto%>
          <td>$<%= link_to x["price_usd"].to_d * crypto.amount_owned%>
          <td>$<%= (crypto.cost_per * crypto.amount_owned ) - ()%>
          <% end %>
      <% end %>
        <td><%= crypto.cost_per %></td>
        <td><%= crypto.amount_owned %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Crypto', new_crypto_path, class: "btn btn-default"%>
